
h1 {
    color: #590D22;
    font-family: "Joefin Sans", sans-serif;
}

p {
    color: #590D22;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    background-color: #FFF0F3;
}