
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: rgb(67, 67, 67);
    height: 150px;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    color: white;
}

.navigation {
    background: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 10px 100px;
}

.footer {
    background: rgb(67, 67, 67);
    height: 250px;
    color: white;
    font-size: 15px;
}

.main {
    background: lightgray;
    height: 350px;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
}

.aside {
    background: white;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
}

@media all and (min-width: 800px) {
    .main {
        flex: 2;
    }
    .aside {
        order: 2;
    }
    .main {
        order: 1;
    }
    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}