@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background: rgb(7, 78, 83);
    height: 100px;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: 70px;
}

.navigation {
    background: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 10px 100px;
}

.navigation a:hover {
    color: rgb(4, 202, 4);
    text-decoration: underline;
}

.footer {
    background: rgb(7, 78, 83);
    height: 100px;
    color: white;
    font-size: 18px;
    margin-top: 1rem;
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    padding: 10px;
}

.card {
    background: lightgray;
    font-size: 15px;
    box-sizing: border-box;
    padding: 15px;
    margin: 10px;
    border-radius: 0.3rem;
    border: 1px solid rgba(0, 0, 82, 0.432);
}

.card h1 {
    display: block;
    font-size: 25px;
    text-align: center;
    background-color: rgba(7, 78, 83, 0.548);
    margin: 0px 1px 15px 1px;
    padding: 15px;
    border-radius: 3px;
}

.card h2 {
    font-size: 25px;
    text-align: center;
    margin: 7.5rem 0 0 0;
}

img {
    width: 130px;
    height: auto;
    border: 1px solid green;
    border-radius: 3px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

.card img:first-of-type {
    float: right;
    margin: 0 0 1rem 1rem;
}

.card img:last-of-type {
    float: left;
    margin: 1rem 1rem 1rem 0;
}

.card p {
    text-align: left;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.nav a {
    display: block;
    padding: 10px;
    text-align: left;
    width: 50%;
    box-sizing: border-box;
}