*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.178);
}

:root {
    --main-color:rgb(7, 83, 20);
    --borders-color: rgb(27, 26, 87);
    --font-size: 18px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
    background: var(--main-color);
    color: whitesmoke;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    padding: 2rem;
    border-bottom: 25px solid var(--borders-color);
    font-family: "Ubuntu", sans-serif;
}


.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 10px solid var(--borders-color);
}

.footer {
    background: var(--main-color);
    height: 150px;
    color: white;
    font-size: var(--font-size);
    margin-top: 3rem;
    padding: 2.5rem;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

h2 {
    text-align: center;
    margin: 20px;
}

.weather {
    text-align: center;
    max-width: 100%;
    font-family: var(--font-family);
    margin-bottom: 40px;
}

.data, .weather {
    text-align: center;
    max-width: 100%;
    font-family: var(--font-family);
    margin-bottom: 50px;
}

.info {
    display: flex;
    padding: 8px 0;
    margin: 0 20px;
}

label {
    flex: 1;
    text-align: right;
    justify-content: center;
    margin-right: 10px;
}

span {
    flex: 1;
    text-align: left;
    justify-content: center;
}

@media only screen and (min-width: 749px) {
    .hero {
        position: absolute;
    }

    .hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .data, .weather {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.863);
        padding: 10px;
    }

    .data {
        top: 250px;
        left: 40px;
        width: 350px;
    }

    .weather {
        top: 750px;
        right: 40px;
        width: 300px;
    }

    h2 {
        text-align: left;
        margin: 10px;
        padding: 0.75rem;
        background-color: var(--borders-color);
        font-family: var(--font-family);
        font-weight: 400;
        color: white;
        margin-left: -20px;
        padding-left: 1.5rem;
    }

    .weather {
        text-align: center;
        max-width: 100%;
        font-family: var(--font-family);
        margin-bottom: 40px;
    }

    .data, .weather {
        text-align: center;
        max-width: 100%;
        font-family: var(--font-family);
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: " ☀️";
    }

    main {
        margin-bottom: 0;
    }

    .footer {
        position: relative;
        top: 839px;
        background: var(--main-color);
        height: 150px;
        color: white;
        font-size: var(--font-size);
        margin-top: 3rem;
        padding: 2.5rem;
        text-align: center;
        font-family: "Ubuntu", sans-serif;
    }
    
    .info {
        display: flex;
        padding: 8px 0;
        margin: 0 20px;
    }
    
    label {
        flex: 1;
        text-align: right;
        justify-content: center;
        margin-right: 10px;
    }
    
    span {
        flex: 1;
        text-align: left;
        justify-content: center;
    }
}
